* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial;
	margin: 0;
}

.header {
	background-color: #1abc9c;
	color: #fff;
	text-align: center;
	padding: 60px;
}

.navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #333;
}

.navbar a {
	text-decoration: none;
	color: #fff;
	padding: 14px 20px;
}

.navbar a:hover {
	background: #cecece;
	color: #000000;
}


.main-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.side {
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}



.main {
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
	background-color: #fff;
	padding: 20px;
}

footer {
	background-color: #ddd;
	text-align: center;
	padding: 20px;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

	.navbar,
	.main-section {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}
